{% extends 'base.html' %}
{% block content %}

<!-- div created in base.html ***Includes profile menu button*** -->
    <div class="row justify-content-center">
        <div class="col-auto mx-1 p-0">
            <form  action="/delete/{{tenant.id}}" method='POST' id="delete-form" >
                <input type="submit" class="icon-trash nav btn btn-outline-secondary m-0 px-1 py-0 text-dark" style="font-size: 31px;" value="&#128465;">
            </form>
        </div>
        
        <div class="col-auto mx-1 p-0">
            <a class="icon-bell btn btn-outline-secondary text-dark m-0 py-0 px-2" style="font-size: 32px;" href='/notification/{{ tenant.id }}'></a>
        </div>

        <div class="col-auto mx-1 p-0">
            <span class="icon-save btn btn-outline-secondary text-dark m-0 py-0 px-2" style="font-size: 32px;"></span>
        </div>
    </div>
</div>

<hr class="mx-3" />

{#
    
    Using what is passed from the route's context to fill the page
    
#}

<main>

    <h1 class="text-center">{{tenant.name}}</h1>

    
    <div class="m-3 ">
        <div class="row justify-content-center">
            <div class="col-auto">
           
                <div class="btn btn-outline-secondary res-job-box text-dark" >
                    <a href='/job_titles/{{ tenant_id }}' class="text-dark" style="text-decoration: none;">
                        <h3>Job Titles</h3>
                        <hr />
                        <lu>
                        {% for job in tenant.job_titles %}
                            <li>{{ job }}</li>
                        {% endfor %}
                        </lu>
                    </a>
                </div>

            </div>
            <div class="col-auto">

                <div class="btn btn-outline-secondary res-job-box text-dark" >
                    <a href='/resume/{{ tenant.id }}' class="text-dark" style="text-decoration: none;">
                        <h3>Resume</h3>
                        <hr />
                        <i class="icon-file-text-alt" style="font-size: 125px;"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="m-3">
        <div class="row justify-content-center">
            <div class="col mx-4">

                <div class="btn btn-outline-secondary jobs-hiring-box text-dark" id="jobs">
                    <a href='/jobs/{{ tenant.id }}' class="text-dark" style="text-decoration: none;text-align: left;">
                        <h3><u>Jobs</u>  {{ num_jobs }}</h3>

                        <ul class="mb-0">
                            {% for job in jobs_data %}
                            <li>
                                {% if job.applied %}
                                <span class="badge badge-pill badge-success">Applied</span> 
                                {% else %}
                                <span class="badge badge-warning">Apply</span> 
                                {% endif %}
                                <span>{{ job.job_title }}</span>
                            </li>
                            {% endfor %}
                            <li style="list-style-type: none;">...</li>
                        </ul>
                    </a>
                </div>

            </div>
        </div>
    </div>


    <div class="m-3">
        <div class="row justify-content-center">
            <div class="col mx-4">

                <div class="btn btn-outline-secondary jobs-hiring-box text-dark" id="hiring-events">
                    <a href='/hiring_events/{{ tenant.id }}' class="text-dark" style="text-decoration: none;text-align: left;">
                        <h3><u>Hiring Events</u> {{ num_events }}</h3>
                        <ul class="mb-0">
                            {% for event in events %}
                                <li>
                                {{event.name}}
                                </li>
                            {% endfor %}
                            <li style="list-style-type: none;">...</li>
                        </ul>
                        
                    </a>
                </div>

            </div>
        </div>
    </div>

</main>

{% endblock content %}