
/*---------- side nav ----------*/
body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  /*---------- /side nav ----------*/

  /* #resume{
    border: solid 1px;
    border-radius: 5px;
    width:128px;
    padding: 5px;
  } */

  .res-job-box a{
    text-decoration: none;
    color: black;
  }

  /* #resume h3{
    margin-top: 5px;
    
  } */

  .res-job-box{
    border: solid 1px;
    border-radius: 5px;
    width:200px;
    padding: 5px;
    list-style-type: none;
    text-align: center;
  }

  .jobs-hiring-box{
    border: solid 1px;
    border-radius: 5px;
    width:100%;
    padding: 5px;
    list-style-type: none;
    text-align: center;
  }

  /* #job_titles a{
    text-decoration: none;
    color: black;
  } */ 