<!DOCTYPE html>
<html>
    <head>
        <title>My Plants</title>
        <!-- My custom Styles -->
        <link rel="stylesheet" href="/static/style.css">

        <!-- <i> tag styles works with Bootstrap-->
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

        <!-- G Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet">

        <!-- bootstrap CDN-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>

        <div id="mySidenav" class="sidenav">
            <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
            <h2 class="text-white-50 text-center m-3" >Profiles</h2>
            <hr class="border-light mx-3 my-0 p-0" />
        {% for tenant in tenants %}
            <a class="p-3 m-0" href="/tenant/{{tenant._id}}">{{tenant.name}}</a>
            <hr class="border-light mx-3 my-0 p-0" />
        {% endfor %}

            <a id="addNew" class="p-1 btn btn-outline-light m-3" href="/create">+Add New</a>
        </div>
        
        <div class="m-3" id='tools'>

            <!-- nav -->
            <span id="profilesOpen" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Profiles</span>

            <!---------- info icon ---------->
            <span id="myBtn">&#9432;</span>
            <!-- The Modal -->
            <div id="myModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p>{{pg_info}}</p>
                </div>
            </div>
            <!---------- /info icon ---------->

            <!-- div is contiued in all other files because delet & other buttons needs to be specialized for some pg's -->

            <!-- <div class="row justify-content-center">
                <div class="col-auto">
    
                    <form  action="/delete/{{tenant_id}}" method='POST' id="delete-form" >
                        <input type="submit" class="nav btn btn-outline-secondary m-1 px-1 text-dark" value="Delete">
                    </form>
                </div>
                <div class="col-auto">
                    <a style="width: 40px;" class="nav btn btn-outline-secondary m-1 px-1 text-dark" href='/notification/{{ tenant_id }}'>
                        <img style="width: 30px;" src="/static/images/bell.png" />
                    
                    </a>
                </div>
            </div>
        </div>
    
        <hr class="mx-3" /> -->

        {% block content %}{% endblock %}

        <script src="/static/main.js"></script>

        <!-- Nav -->
        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "191px";

                // add close
                const node = document.createElement("A");                 
                const textnode = document.createTextNode("x");         
                node.appendChild(textnode); 
                node.href = "javascript:void(0)";
                node.className = "closebtn text-decoration-none";
                node.onclick = function closeNav() {
                    document.getElementById("mySidenav").style.width = "0";
                    document.querySelector(".closebtn").remove();
                }               
                document.getElementById("mySidenav").appendChild(node);

            }
            
            // function closeNav() {
            //   document.getElementById("mySidenav").style.width = "0";
            // }
        </script>

    </body>
</html>