<!DOCTYPE html>
<html>
    <head>
        <title>My Plants</title>
        <link rel="stylesheet" href="/static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>

        <div class="sidenav">

        {% for tenant in tenants %}
            <a href="/tenant/{{tenant._id}}">{{tenant.name}}</a>
        {% endfor %}

            <a href="/create">+ New Tenant</a>
        </div>
        
        <!-- <div class="container m-3" id='tools'>
            <div class="row">
                <div class="col">
    
                    <form  action="/delete/{{tenant_id}}" method='POST' id="delete-form" onsubmit="return confirm_delete()">
                        <input type="submit" class="nav btn btn-outline-secondary m-1 px-1 text-dark" onclick="delete_modal()" value="Delete">
                    </form>
                </div>
                <div class="col">
                    <a style="width: 40px;" class="nav btn btn-outline-secondary m-1 px-1 text-dark" href='/notification/{{ tenant_id }}'>
                        <img style="width: 30px;" src="/static/images/bell.png" />
                    
                    </a>
                </div>
            </div>
        </div>
    
        <hr /> -->

        {% block content %}{% endblock %}


        

        <script src="/static/index.js"></script>
    </body>
</html>