{% extends 'base.html' %}
{% block content %}
<!-- div created in base.html ***Includes profile menu button*** -->
    <div class="row justify-content-center">
        <div class="col-auto mx-1 p-0">
            <button onclick="reloadFunc()" class="nav btn btn-outline-secondary m-0 px-1 py-0 text-dark" style="font-size: 31px;">&#128465;</button>
        </div>

        <!-- <div class="col-auto mx-1 p-0">
            <a class="icon-bell btn btn-outline-secondary text-dark m-0 py-0 px-2" style="font-size: 32px;" href='/notification/{{ tenant_id }}'></a>
        </div> -->
        
        <div class="col-auto mx-1 p-0">
            <button class="icon-save btn btn-outline-secondary text-dark m-0 py-0 px-2" style="font-size: 32px;" type="submit" form="my-form"></button>
            <!-- <span class="icon-save btn btn-outline-secondary text-dark m-0 py-0 px-2" style="font-size: 32px;"></span> -->
        </div>
    </div>
</div>

<hr class="mx-3" />

<main>

    <!-- File upload added (enctype=multipart/form-data) -->
    <form id="my-form" method='POST' enctype=multipart/form-data>
        <fieldset class="text-center">

            <div class="text-center" >
                <input type="text" name="tenant_name" placeholder="Enter Full Name">
            </div>

            <div class="m-3 ">
                <div class="row justify-content-center">
                    <div class="col-auto">
                   
                        <label>
                            Job Titles:
                            <hr />
                            <input type="text" placeholder='Separate Titles with ","' name="job_titles">
                        </label>

                    </div>
                    <div class="col-auto text-center">

                        <!-- File Upload info from "https://flask.palletsprojects.com/en/1.1.x/patterns/fileuploads/"  -->
                        Upload Resume:
                        <hr />
                        <label class="custom-file-upload icon-upload-alt">
                            <input type=file name=file>
                        </label>
                        
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</main>

{% endblock content %}