{% extends 'base.html' %}
{% block content %}
<!-- div created in base.html ***Includes profile menu button*** -->
    <div class="row justify-content-center">
        <div class="col-auto">

            <form  action="/delete/{{tenant_id}}" method='POST' id="delete-form" >
                <input type="submit" class="nav btn btn-outline-secondary m-1 px-1 text-dark" value="Delete">
            </form>
        </div>
        <div class="col-auto">
            <a style="width: 40px;" class="nav btn btn-outline-secondary m-1 px-1 text-dark" href='/notification/{{ tenant_id }}'>
                <img style="width: 30px;" src="/static/images/bell.png" />
            
            </a>
        </div>
    </div>
</div>

<hr class="mx-3" />

<main>
    <h1>New Profile</h1>

    <!-- File upload added (enctype=multipart/form-data) -->
    <form method='POST' enctype=multipart/form-data>
        <fieldset>
            <legend>Please fill the profile info:</legend>

            <label>
                Tenant's name:
                <input type="text" name="tenant_name">
            </label>
            <!-- File Upload info from "https://flask.palletsprojects.com/en/1.1.x/patterns/fileuploads/"  -->
            <label>Upload Resume:
                <input type=file name=file>
                <input type=submit value=Upload>
            </label>

            <label>
                Job Titles:
                <input type="text" name="job_titles">
            </label>

            <input type="submit" class="submit" value="Submit!">
        </fieldset>
    </form>
</main>

{% endblock content %}