{% extends 'base.html' %}
{% block content %}


{#
    
    Using what is passed from the route's context to fill the page
    
#}

<main>

    <div id='tools'>
        <form action="/delete/{{tenant_id}}" method='POST' id="delete-form" onsubmit="return confirm_delete()">
            <input type="submit" class="nav" onclick="delete_modal()" value="Delete">
        </form>

        <a href='/notification'>
            <img src="bell.jpg" />
        </a>
    </div>

    <h1>{{name}}</h1>

    

    <div id="resume">
        <a href='/resume/{{ tenant_id }}'>
            <h3>Resume</h3>

            <img src="resume.jpg">
        </a>
    </div>

    <div id="job_titles">
        <a href='/job_titles/{{ tenant_id }}'>
            <h3>Job Titles</h3>

            <lu>
            {% for job in job_titles %}
                <li>{{ job }}</li>
            {% endfor %}
            </lu>
        </a>
    </div>

    <div id="jobs">
        <a href='/jobs/{{ tenant_id }}'>
            <h3>Jobs</h3>
        </a>
    </div>

    <div id="hiring-events">
        <a href='/hiring_events'>
            <h3>Hiring Events</h3>
        </a>
    </div>

</main>

{% endblock content %}