{% extends 'base.html' %}
{% block content %}

<!-- div created in base.html ***Includes profile menu button*** -->
    <div class="row justify-content-center">
        <div class="col-auto mx-1 p-0">

            <form  action="/delete/{{tenant_id}}" method='POST' id="delete-form" >
                <input type="submit" class="icon-trash nav btn btn-outline-secondary m-0 px-1 py-0 text-dark" style="font-size: 31px;" value="&#128465;">
            </form>
        </div>
        
        <div class="col-auto mx-1 p-0">
            <a class="icon-bell btn btn-outline-secondary text-dark m-0 py-0 px-2" style="font-size: 32px;" href='/notification/{{ tenant_id }}'></a>
        </div>

        <div class="col-auto mx-1 p-0">
            <span class="icon-save btn btn-outline-secondary text-dark m-0 py-0 px-2" style="font-size: 32px;"></span>
        </div>
    </div>
</div>

<hr class="mx-3" />

<main>

    <ul>
        {% for event in events %}
            <li>
            <a href="{{event.url}}">{{event.name}}</a>
            </li>
        {% endfor %}
    </ul>

</main>

{% endblock content %}