{% extends 'base.html' %}
{% block content %}

<!-- div created in base.html ***Includes profile menu button*** -->
    <div class="row justify-content-center">
        <div class="col-auto mx-1 p-0">
            <span class="icon-save btn btn-outline-secondary text-dark m-0 py-0 px-2" style="font-size: 32px;"></span>
        </div>
    </div>
</div>

<hr class="mx-3" />

{#
    
    Using what is passed from the route's context to fill the page
    
#}

<main>

    <h1 class="text-center">{{name}}</h1>

    <form class="text-center" id='form' method="POST">

        {% for title in job_titles %}
            <div>
                <a id="titles-delete-btn" class="btn btn-outline-danger mr-0">X</a>
                <input type="text" name="job_titles" value="{{ title }}" />
                <br />
            </div>
        {% endfor %}
            <div>
                <a id="titles-delete-btn" class="btn btn-outline-danger mr-0">X</a>
                <input type="text" name="job_titles" value=" " />
            </div>

        
        <!-- <button id="plus">+</button>
        <input type="submit" /> -->
        
    </form>

    <script>
        let form = document.getElementById('form');

        form.addEventListener('input', (e) => {
            form = document.getElementById('form');
            let inputs = document.querySelectorAll('input');
            let addNewInput = true;
            let emptyCount = 0;
            for(let i = 0; i < inputs.length; i++){
                if(inputs[i].value == ''){
                    addNewInput = false;
                    emptyCount++
                    if(emptyCount > 1){
                        input[i].remove()
                    }
                }
            }
            emptyCount = 0;

            if(addNewInput){
                let input = document.createElement("input"); 
                let div = document.createElement("div"); 
                let br = document.createElement("br"); 
                let a = document.createElement("a"); 

                input.name = "job_titles";
                input.type = "text";
                input.value = '';

                a.id = "titles-delete-btn";
                a.className = "btn btn-outline-danger";
                a.innerHTML = "X";

                
                div.appendChild(a);
                div.appendChild(input);
                div.appendChild(br);

                form.appendChild(div);
            }
            let titlesDeleteBtn = document.querySelectorAll('#titles-delete-btn');

            for(let i = 0; i < titlesDeleteBtn.length; i++){
                titlesDeleteBtn[i].onclick = function tagDelete(e){
                    e.target.parentNode.remove()
                }
            }
        });

        let titlesDeleteBtn = document.querySelectorAll('#titles-delete-btn');

        for(let i = 0; i < titlesDeleteBtn.length; i++){

            console.log(titlesDeleteBtn[i]);

            // let nextSibling = titlesDeleteBtn[i].nextSibling

            // console.log(nextSibling);

            titlesDeleteBtn[i].onclick = function tagDelete(e){
                e.target.parentNode.remove()
            }
        }
    </script>

</main>

{% endblock content %}