{% extends 'base.html' %}
{% block content %}

<!-- div created in base.html ***Includes profile menu button*** -->
    <div class="row justify-content-center">
        <div class="col-auto mx-1 p-0">
            <span class="icon-save btn btn-outline-secondary text-dark m-0 py-0 px-2" style="font-size: 32px;"></span>
        </div>
    </div>
</div>

<hr class="mx-3" />

{#
    
    Using what is passed from the route's context to fill the page
    
#}

<main>

    <h1 class="text-center">{{name}}</h1>

    <form class="text-center" id='form' method="POST">

        {# {% no_empty_str = True %} #}

        {% for title in job_titles %}
            <a id="titles-delete-btn" class="btn btn-outline-danger" onclick="delet({{ title }})">X</a>
            <input class="m-0" type="text" name="job_titles" value="{{ title }}" />
            <br />
            {# {% if title == "" %}
                 {% no_empty_str = False}
            {% endif %} #}
        {% endfor %}

        {#  {% if no_empty_str %}
            <input class="m-0" type="text" name="job_titles" value="" />
        {% endif %}  #}
        
        <!-- <button id="plus">+</button>
        <input type="submit" /> -->
        
    </form>

    <script>
        let form = document.getElementById('form')
        let input = document.createElement("input");  
        let textnode = document.createTextNode(""); 

        input.appendChild(textnode)

        document.getElementById('plus').addEventListener('onclick', (e) => {
            console.log(e)
            
            form.appendChild(input);
            e.preventDefault()
        })
    </script>

</main>

{% endblock content %}